.gitignore
.gitattributes
.git
.mixin.out/
crash-reports/
data/
datapacks/
Distant_Horizons_server_data/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
ESM/
immersive_paintings_cache/
logs/
moddata/
moonlight-global-datapacks/
options-profiles/
resourcepacks/
saros_road_signs_mod/
saves/
schematics/
shaderpacks/
xaero/
Xaero*
can-be-zeus.json
command_history.txt
emi.json
fabricloader.log
options.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
